<!DOCTYPE html>
<html lang='jp'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ entry.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'entries/entry_list.css' %}">
</head>
<body>
    <div class="entry-detail">
        <div class="content-box">
            <div class="date">{{ entry.date_posted|date:"Y年m月d日 H:i" }}</div>
            <div class="content">{{ entry.content }}</div>
        </div>
        <a href="{% url 'entry_list' %}">戻る</a>
    </div>
</body>
</html>